<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<hr><h6>App User (user.component.ts)</h6><br><br>

<app-user [name]="rootName" (nameChanged)="onNameChanged($event)"></app-user>

<!------------------------------------------------------------------>

<hr><h6>Dashboard</h6><br><br>
<app-dashboard></app-dashboard>

<!------------------------------------------------------------------>

<hr><h6>CartComponent</h6><br><br>
<app-cart [items]="rootItems" (itemAdded)="onItemWasAdded($event)"></app-cart>

<!------------------------------------------------------------------>

<div><br><strong>Debugging</strong></div>
<hr>
<p>{{number}}</p>
<button (click)="onIncrease()" class="btn btn-primary">Increase Number</button>